<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/index.css">
  <link rel="stylesheet" href="/public/header-login-btns.css">
  <link rel="stylesheet" href="/public/header.css">
  <title><%= title %></title>
</head>
<body>
  
  <div class="main">
    <%- include("header", {}) %>

    <div class="content">
      <div class="posts">
        <% for (data of database.messages) {%>
          <div class="item">
            <div class="message">
              <p><%= data.content %></p>
            </div>
            <div class="user-info">
              <div>
                <img src="/assets/user.png" alt="user">
                <% if (locals.user) { %>
                  <span><%= database.users[data.user_id-1].username %></span>
                <% } else { %>
                  <span>Anonymous</span>
                <% } %>
              </div>
              <span>
                <%= data.date.toLocaleDateString("ru-RU") %>
                  <%= data.date.toLocaleTimeString("ru-RU", { hour: '2-digit' , minute: '2-digit' }) %>
              </span>
            </div>
            <% if (user?.admin === true) { %>
              <a href="/delete?message=<%= data.id %>">
                <button class="delete-message">Delete</button>
              </a>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>
  </div>

</body>
</html>