<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/index.css">
  <title><%= title %></title>
</head>
<body>
  
  <div class="main">
    <header>
      <a href="/" class="logo-header"><h2>Jibber</h2></a>
      <h1>Dashboard</h1>
      <div class="container-user">
        <div id="account-details" class="account-details">
          <div class="details">
            <a href="/logout">&#8226; <span>Log Out</span></a>
          </div>
          <img src="/assets/user.png" alt="account">
        </div>
        <img class="user-logo" src="/assets/user.png" alt="account">
      </div>
    </header>

    <div class="content">
      <div class="posts">
        <% for (data of database.messages) {%>
          <div class="item">
            <div class="message">
              <p><%= data.content %></p>
            </div>
            <div class="user-info">
              <div>
                <img src="/assets/user.png" alt="user">
                <span><%= database.users[data.user_id-1].username %></span>
              </div>
              <span>
                <%= data.date.toLocaleDateString("ru-RU") %>
                  <%= data.date.toLocaleTimeString("ru-RU", { hour: '2-digit' , minute: '2-digit' }) %>
              </span>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>

</body>
</html>